<h1>Modelado de Propagación para analizar la propagacion del COVID-19</h1>

<p>Modelos de propagación del COVID-19 (<a href="https://github.com/diegomosuz/COVID-19-TepuyRD-Group/blob/master/G-03/Diccionario%20de%20modelos%20para%20la%20prediccion%20de%20la%20propagacion%20del%20COVID19.docx">docx</a>):</p>

<ul>
  <li><a routerLink="/covid19/sir001">Modelo_SIR_Analitico_COVID19_0001</a></li>
  <li><a href="/covid19/sir002">Modelo_SIR_Analitico_COVID19_0002</a></li>
  <li><a href="/covid19/seir001">Modelo_SEIR_Analitico_COVID19_0001</a></li>
</ul>
