<div style="text-align:center">
  <h1>
    Modelos predictivos para analizar la propagacion del COVID-19
  </h1>
</div>

<div>
  <h1>
    1. Modelos analítico SIR basado en Infectados, Removidos y Susceptibles
  </h1>
</div>
<div>
  Tiempo Inicial: <p-spinner  size="10" [(ngModel)]="tstart" [min]="0"></p-spinner>
  Días a simular: <p-spinner  size="10" [(ngModel)]="simdays" [min]="0" [max]="730"></p-spinner>
  Paso en días: <p-spinner  size="10" [(ngModel)]="hh" [min]="0.001" [max]="5" [step]="0.001"></p-spinner>
  Contagiados inicial (%): <p-spinner  size="10" [(ngModel)]="r0" [min]="0.0000000001" [max]="1" [step]="0.0000005"></p-spinner>
  Susceptibles (%): <p-spinner  size="10" [(ngModel)]="x0" [min]="-1" [max]="1" [step]="0.0000005"></p-spinner>
  Removidos (%): <p-spinner  size="10" [(ngModel)]="z0" [min]="0" [max]="1" [step]="0.0000005"></p-spinner>
  Vel. de Contagio Max: <p-spinner  size="10" [(ngModel)]="betamx" [min]="0.001" [max]="100" [step]="0.1"></p-spinner>
  Vel. de Contagio Min: <p-spinner  size="10" [(ngModel)]="betamn" [min]="0.001" [max]="100" [step]="0.1"></p-spinner>
  Vel. de Recuperación: <p-spinner  size="10" [(ngModel)]="gamma" [min]="0.001" [max]="100" [step]="0.1"></p-spinner>

  <div>
    <button (click)="sir001()">Actualizar</button>
  </div>
  <div class="container">
    <p-chart type="line" [data]="modSIR01Data" responsive="true" width="40vw" height="80vh"></p-chart>
    <p-chart type="line" [data]="modSIR01DataInf" responsive="true" width="40vw" height="80vh"></p-chart>
  </div>
</div>

<div>
  <button (click)="sir002()">All Employees</button>
</div>
