<div style="text-align:center">
  <h1>
    Modelos predictivos para analizar la propagacion del COVID-19
  </h1>
</div>

<div>
  <h1>
    1. Modelos analítico SIR basado en Infectados, Removidos y Susceptibles
  </h1>
</div>
<div>
  Tiempo Inicial: <p-spinner  size="10" [(ngModel)]="sir01Data.tstart" [min]="0"></p-spinner>
  Días a simular: <p-spinner  size="10" [(ngModel)]="sir01Data.simdays" [min]="0" [max]="730"></p-spinner>
  Paso en días: <p-spinner  size="10" [(ngModel)]="sir01Data.hh" [min]="0.001" [max]="5" [step]="0.001"></p-spinner>
  Contagiados inicial (%): <p-spinner  size="10" [(ngModel)]="sir01Data.r0" [min]="0" [max]="1" [step]="0.0000005"></p-spinner>
  Susceptibles (%): <p-spinner  size="10" [(ngModel)]="sir01Data.x0" [min]="-1" [max]="1" [step]="0.0000005"></p-spinner>
  Removidos (%): <p-spinner  size="10" [(ngModel)]="sir01Data.z0" [min]="0" [max]="1" [step]="0.0000005"></p-spinner>
  Vel. de Contagio Max: <p-spinner  size="10" [(ngModel)]="sir01Data.betamx" [min]="0.001" [max]="100" [step]="0.1"></p-spinner>
  Vel. de Contagio Min: <p-spinner  size="10" [(ngModel)]="sir01Data.betamn" [min]="0.001" [max]="100" [step]="0.1"></p-spinner>
  Vel. de Recuperación: <p-spinner  size="10" [(ngModel)]="sir01Data.gamma" [min]="0.001" [max]="100" [step]="0.1"></p-spinner>
  <br/>
  <br/>
  <div>
    <p-button (click)="sir001()"  [disabled]="blockedPnlSIR01" label="Actualizar SIR-01"></p-button>
    <p-progressSpinner *ngIf="blockedPnlSIR01" [style]="{width: '20px', height: '20px'}"></p-progressSpinner>
  </div>
</div>

<div class="container">
  <div *ngIf="blockedPnlSIR01; then thenBlockSIR01 else elseBlockSIR01"></div>
  <ng-template #thenBlockSIR01><div><p-progressSpinner></p-progressSpinner><br/><br/><p>Cargando...</p></div></ng-template>
  <ng-template #elseBlockSIR01>
    <p-chart type="line" [data]="sir01Data.modData" responsive="true" width="40vw" height="80vh"></p-chart>
    <p-chart type="line" [data]="sir01Data.modDataInf" responsive="true" width="40vw" height="80vh"></p-chart>
  </ng-template>
</div>

<div>
  <h1>
    2. Modelos analítico SEIR basado en Infectados, Expuestos, Susceptibles y Removidos
  </h1>
</div>
<div>
  Tiempo Inicial: <p-spinner  size="10" [(ngModel)]="seir01Data.tstart" [min]="0"></p-spinner>
  Días a simular: <p-spinner  size="10" [(ngModel)]="seir01Data.simdays" [min]="0" [max]="730"></p-spinner>
  Paso en días: <p-spinner  size="10" [(ngModel)]="seir01Data.hh" [min]="0.001" [max]="5" [step]="0.001"></p-spinner>
  Contagiados inicial (%): <p-spinner  size="10" [(ngModel)]="seir01Data.r0" [min]="0" [max]="1" [step]="0.0000005"></p-spinner>
  Susceptibles (%): <p-spinner  size="10" [(ngModel)]="seir01Data.w0" [min]="-1" [max]="1" [step]="0.0000005"></p-spinner>
  Expuestos (%): <p-spinner  size="10" [(ngModel)]="seir01Data.x0" [min]="0" [max]="1" [step]="0.0000005"></p-spinner>
  Removidos (%): <p-spinner  size="10" [(ngModel)]="seir01Data.z0" [min]="0" [max]="1" [step]="0.0000005"></p-spinner>
  Vel. de Contagio Max: <p-spinner  size="10" [(ngModel)]="seir01Data.betamx" [min]="0.001" [max]="100" [step]="0.1"></p-spinner>
  Vel. de Contagio Min: <p-spinner  size="10" [(ngModel)]="seir01Data.betamn" [min]="0.001" [max]="100" [step]="0.1"></p-spinner>
  Vel. de Recuperación: <p-spinner  size="10" [(ngModel)]="seir01Data.gamma" [min]="0.001" [max]="100" [step]="0.1"></p-spinner>
  Tasa de Exposicion: <p-spinner  size="10" [(ngModel)]="seir01Data.alfa" [min]="0.001" [max]="100" [step]="0.1"></p-spinner>
  <br/>
  <br/>
  <div>
    <p-button (click)="seir001()"  [disabled]="blockedPnlSEIR" label="Actualizar SEIR"></p-button>
    <p-progressSpinner *ngIf="blockedPnlSEIR" [style]="{width: '20px', height: '20px'}"></p-progressSpinner>
  </div>
</div>

<div class="container">
  <div *ngIf="blockedPnlSEIR; then thenBlockSEIR else elseBlockSEIR"></div>
  <ng-template #thenBlockSEIR><div><p-progressSpinner></p-progressSpinner><br/><br/><p>Cargando...</p></div></ng-template>
  <ng-template #elseBlockSEIR>
    <p-chart type="line" [data]="seir01Data.modData" responsive="true" width="40vw" height="80vh"></p-chart>
    <p-chart type="line" [data]="seir01Data.modDataInf" responsive="true" width="40vw" height="80vh"></p-chart>
  </ng-template>
</div>

<div>
  <h1>
    3. Modelos analítico SIR basado en Susceptibles, Infectados, Removidos
  </h1>
  <h3>Contiene seis (6) Curvas con la evolución en el tiempo de los grupos de individuos: 1) Dato real de infectados, 2) Dato real de recuperados, 3) Dato real de fallecidos, 4) Curva estimada de susceptibles, 5) Curva estimada de infectados y 6) Curva estimada de removidos.</h3>
</div>

<div style="overflow:visible">
  Pais: <p-dropdown [options]="sir02Data.paises" [(ngModel)]="sir02Data.paisElegido" scrollHeight="400px"></p-dropdown>
  Fecha inicial: <p-calendar [(ngModel)]="sir02Data.date" dateFormat="mm/dd/yy"  [minDate]="sir02Data.minDate"></p-calendar>
  Días a simular: <p-spinner  size="10" [(ngModel)]="sir02Data.rp" [min]="0" [max]="730"></p-spinner>
  Susceptibles (%): <p-spinner  size="10" [(ngModel)]="sir02Data.s0" [min]="0" [step]="1"></p-spinner>
  Contagiados inicial (%): <p-spinner  size="10" [(ngModel)]="sir02Data.i0" [min]="0" [step]="1"></p-spinner>
  Removidos (%): <p-spinner  size="10" [(ngModel)]="sir02Data.r0" [min]="0" [step]="1"></p-spinner>
  <br/>
  <br/>
  <div>
    <p-button (click)="sir002()"  [disabled]="blockedPnlSIR02" label="Actualizar SIR-02"></p-button>
    <p-progressSpinner *ngIf="blockedPnlSIR02" [style]="{width: '20px', height: '20px'}"></p-progressSpinner>
  </div>
</div>

<div class="container">
  <div *ngIf="blockedPnlSIR02; then thenBlockSIR02 else elseBlockSIR02"></div>
  <ng-template #thenBlockSIR02><div><p-progressSpinner></p-progressSpinner><br/><br/><p>Cargando...</p></div></ng-template>
  <ng-template #elseBlockSIR02>
    <p-chart type="line" [data]="sir02Data.modData" responsive="true" width="40vw" height="80vh"></p-chart>
    <p-chart type="line" [data]="sir02Data.modDataInf" responsive="true" width="40vw" height="80vh"></p-chart>
  </ng-template>
</div>
